args==0.1.0
async-generator==1.10
attrs==21.2.0
blinker==1.4
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
clint==0.5.1
colorama==0.4.4
cryptography==35.0.0
Faker==9.8.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
kaitaistruct==0.9
outcome==1.1.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==21.0.0
pyparsing==3.0.4
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.26.0
rsa==4.7.2
